<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>DK数字分身</title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="./css/litewebchat.css" />
		<!-- 引入样式 -->
		<link rel="stylesheet" href="./dist/theme-chalk/index.css">
		<link rel="stylesheet" type="text/css" href="./css/main.css" />
		<!-- 引入组件库 -->
		<script src="./dist/index.js"></script>
		<script src="https://cdn.2zimu.com/axios.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<style>
			.el-input--small input:focus {
				transform: none;
				}
				.el-input input:focus {
				transform: none;
				}

				.el-input--large input:focus {
				transform: none;
				}
		</style>
	</head>
	<body>
		<body>
			<el-container id="app" class="paper">
				<el-header>
				<el-row>
						<el-col :span="12"><div class="app-title">DK数字版 0.1<i class="el-icon-info"></i></div></el-col>
						<el-col :span="12">
							<div style="text-align: right;">
								<a class="umami--click--give-feedback" href="https://wenjuan.feishu.cn/m?t=sD7JT3OVRyLi-tsre" v-if="showMoreInfo">
									<el-button size="small" round>给我一些反馈 😎</el-button>
								</a>
								<a class="umami--click--learn-more" href="https://greatdk.com/1908.html" target="_blank"><el-button size="small" round>训练教程</el-button></a></div></div></el-col>
				</el-row>
				<!-- <div class="app-title">DK数字版</div>
				<i class="el-icon-info"></i> -->
				</el-header>
				<el-alert
				title="不要抱有太高期望"
				type="warning"
				description="模型训练所用数据均由我本人产生，且仅用于测试目的，它不能完成很难的任务，只能跟你闲聊，如果它骂了人，我代它向你道歉🙇"
				show-icon>
			  </el-alert>
				<el-main v-if="!is_sleep">
					<!-- 主容器 -->
					<el-row :span="24">
						<div class="lite-chatbox">

							<div class="cmsg cleft" >
								<img class="headIcon radius" ondragstart="return false;" oncontextmenu="return false;" src="https://cdn.2zimu.com/mbd_file_NDdfNDE1ODM5XzE2ODA0NTAzNTQ1NTRfMTY4MDQ1MDM1NDU1NA.png-webicon" />
								<span class="name">DK</span>
								<span class="content">你好哇
								</span>
								<br><br>
								<el-row :gutter="20">
									<el-col class="umami--click--info-button" :span="6"><el-button @click="sendInfo" size="mini" round >📖 查看说明</el-button></el-col>
									<el-col class="umami--click--priv-button" :span="6"><el-button @click="privInfo" size="mini" round >🔒 隐私问题</el-button></el-col>
									<el-col class="umami--click--github-button" :span="6"><el-button @click="goGithub" size="mini" round >💻 github</el-button></el-col>
									<el-col class="umami--click--spon-button" :span="6"><el-button @click="goSixpen" size="mini" round >❤️ 赞助人</el-button></el-col>
								</el-row>
							</div>
							<br>

							<div v-for="(message,index) in messageList" v-if="message.show" :key="index" class="cmsg" v-bind:class="message.direction">
								<img class="headIcon radius" ondragstart="return false;" oncontextmenu="return false;" v-bind:src=message.avatar />
								<span class="name">{{ message.nick }}</span>
								<span class="content">{{ message.msg }} 
									<el-button @click="getBest(message.msg_id,message.msg)" v-if="!message.first_message && message.direction=='cleft' && !message.has_vote " size="small" round >👍</el-button>
									<!-- <el-button v-if="message.has_vote && message.direction=='cleft' " disabled size="small" round >已选择</el-button> -->
								</span>
							</div>
						</div>
					</el-row>

					<div class="inputBox" v-loading="in_gen">
						<el-row>
							<el-col :span="15">
								<el-input v-model="inputBox"  @keyup.enter.native="send" placeholder="请输入内容"></el-input>
							</el-col>
							 
							<el-col :span="8">
								<el-button class="umami--click--send-button" @click="send" >发送</el-button>
								<el-button class="umami--click--open-setting" @click="openSetting = ! openSetting" type="warning" icon="el-icon-s-tools" size="small" circle></el-button>
							<el-col>
						</el-row>

						<div v-if="openSetting" style="padding-top: 10px;background: white;">
							<el-row :gutter="20">
								<el-col :span="13">
								<el-input v-model="temperature" placeholder="如果你不知道这是啥，就不要改">
									<template slot="prepend">temperature</template>
								</el-input>
								</el-col>
								<el-col :span="9">
									<el-input v-model="top_p" placeholder="如果你不知道这是啥，就不要改">
										<template slot="prepend">top_p</template>
									</el-input>
								</el-col>
							</el-row>
							<br>
							<el-row :gutter="20">
								<el-col :span="12">
									<el-input v-model="num_beams" placeholder="如果你不知道这是啥，就不要改">
										<template slot="prepend">num_beams</template>
									</el-input>
								</el-col>
								<el-col :span="12">
									do_sample:
									<el-switch
										v-model="do_sample"
										active-color="#13ce66"
										inactive-color="#ff4949">
										</el-switch>
								</el-col>
							</el-row>
						</div>


					</div>
				</el-main>

				<el-main v-if="is_sleep">
					<el-result icon="warning" title="来的不巧" sub-title="模型在调整，或者我暂时把服务器关了">
						<template slot="extra">
						  <a href="https://6pen.art"><el-button class="umami--click--see-6pen" type="primary" size="medium">👀看看我搞的别的东西</el-button></a>
						</template>
					  </el-result>
				</el-main>
				<el-dialog
					title="那个，你能帮帮忙吗？"
					:visible.sync="dialogVisible"
					width="80%"
					>
					<span>刚刚生成的2段回复，请点击👍选择你认为更好的那个，我会将这个数据用来优化模型（它是匿名搜集的）</span>
					<br>
					<span>如果他们确实都不太行，请点击下面的重新生成按钮，将会再重新生成一次</span>
					<span slot="footer" class="dialog-footer">						
						<el-button type="primary" @click="dialogVisible = false">好的</el-button>
						<el-button @click="reGen">重新生成</el-button>
					</span>
					</el-dialog>
			</el-container>
		</body>
		
		<script type="text/javascript">
			var app = new Vue({
				el: '#app',
				data() {
					return {
						messageList: [],
						msg_id:"",
						dialogVisible:false,
						inputBox: '',
						openSetting: false,
						botNick: 'DK',
						history: [],
						showMoreInfo:false,
						thesaurus: '',
						botAvatar: 'https://cdn.2zimu.com/mbd_file_NDdfNDE1ODM5XzE2ODA0NTAzNTQ1NTRfMTY4MDQ1MDM1NDU1NA.png-webicon',
						myAvatar: 'https://cdn.2zimu.com/mbd_1630305272952_screenshot_1630305272750.jpg-webicon',
						do_sample: true,
						temperature:0.7,
						top_p:1,
						num_beams:1,
						in_gen:false,
						is_sleep:false
					}
			
				},
				methods: {
					// getThesaurus: function() {
					// 	axios.get('https://raw.githubusercontent.com/Kyomotoi/AnimeThesaurus/main/data.json')
					// 		.then((response) => this.thesaurus = response.data)
					// },
					getBest(id,text){
						var input = ""
						var good_answer = ""
						var bad_answer = ""
						console.log(this.messageList)
						this.messageList.forEach((element,index) => {
						if (element.msg_id === id) {
							element.has_vote = true;
							if (element.direction=='cright'){
								input = element.msg
							}
							if (element.msg==text && element.direction=='cleft'){
								this.history[this.history.length - 1][1] = element.msg
								good_answer = element.msg
							}
							if (element.msg!=text && element.direction=='cleft'){
								element.show = false
								bad_answer = element.msg
							}
						}
						});
						// 发记录请求
						axios.post('https://service-r2vz2ear-1251731618.bj.apigw.tencentcs.com/release/dk_ai_data_collect', { input: input, good_answer: good_answer, bad_answer:bad_answer}, {
							headers: { 'Content-Type': 'application/json' }
							})
							.then(function (response) {
								console.log(response.data)
							})
							.catch(function (error) {
							});
						//
					},
					sendInfo(){
						this.messageList.push({
						nick: "DK(真人)",
						msg: '你好，我是由王登科的微信聊天记录，微博及文章作为训练数据，基于 chatglm-6b 训练的一个模型，相较于 chatgpt 这样的模型，我的特点更像是某种对「人」的克隆，因为我的所有来源都是小王这个人所生成的内容（他的回复，他的文章，他的想法）。我并不是他的百科，我也不了解他的所有事情，但是我具备某些和他一样的特点，因为在训练中，他的内容重塑了我的60亿参数',
						direction: 'cleft',
						avatar: this.botAvatar,
						first_message:true,
						show:true
					});
					},
					privInfo(){
						this.messageList.push({
						nick: "DK(真人)",
						msg: '不要担心，你在这里看到的所有信息，基本都是模型瞎编的，首先，我的数据有进行过滤，其次，我训练的模型的KV层，这一层参数更像是「逻辑」部分，而非「知识」部分，所以不会正确回答关于我的任何隐私，某种程度上这也是之后训练需要优化的地方，即让模型在可控范围内「记住」知识',
						direction: 'cleft',
						avatar: this.botAvatar,
						first_message:true,
						show:true
					});
					},
					goSixpen(){
						window.open("https://6pen.art?from=dkai", "_blank"); 
					},
					goGithub(){
						window.open("https://github.com/wdkwdkwdk/CLONE_DK", "_blank"); 
					},
					reGen(){
						this.messageList.forEach((element,index) => {
							if (element.msg_id === this.msg_id && element.direction == "cright" ) {
								this.inputBox = element.msg
							}
						})
						const resultArr = this.messageList.filter(item => {
						if (item.msg_id === this.msg_id) {
							return false; 
						}
						return true; 
						});
						this.messageList = resultArr
						this.dialogVisible = false
						console.log(this.dialogVisible)
						this.send()
					},
					getStatus(){
						this2 = this
						const requestData = {
							check_status: "yes"
						};
						axios.post("https://service-ei2k47mp-1251731618.bj.apigw.tencentcs.com/release/dk_ai", requestData, {
						headers: {
								"Content-Type": "application/json"
							}
						})
						.then(response => {
							console.log(response.data);
							if (response.data.state=="sleeping") {
								this2.is_sleep = true
							}
						})
						.catch(error => {
							console.error(error);
							if (response.data.state=="sleeping") {
								this2.is_sleep = true
							}
						});
					},
					open() {
						this.$alert('这是一段内容', '标题名称', {
						confirmButtonText: '确定',
						callback: action => {
							this.$message({
							type: 'info',
							message: `action: ${ action }`
							});
						}
						});
					},
					send: function() {
						let last_msg = this.messageList[this.messageList.length - 1]
						if(last_msg){
								if( last_msg.has_vote != true && !last_msg.first_message){
								this.dialogVisible = true
								return
							}
						}

						this.msg_id = Math.random().toString(36).substr(2) + Date.now().toString(36);
						if ( this.messageList.length > 3){
							this.showMoreInfo = true
						}
						this.in_gen = true
						this.messageList.push({
							nick: '你',
							msg: this.inputBox,
							direction: 'cright',
							avatar: this.myAvatar,
							msg_id:this.msg_id,
							show:true
						});
						// var words = [],
						// 	reply = '';
						// for (obj in this.thesaurus) {
						// 	if (this.inputBox.indexOf(obj) != -1) {
						// 		words.push(obj);
						// 	}
						// }

						this2 = this
						axios.post('https://service-ei2k47mp-1251731618.bj.apigw.tencentcs.com/release/dk_ai', { text: this.inputBox, history: this.history, temperature:this.temperature, top_p:this.top_p, num_beams:this.num_beams,do_sample:this.do_sample }, {
							headers: { 'Content-Type': 'application/json' }
							})
							.then(function (response) {
								dk_response = response.data
								console.log(response.data);
								reply = dk_response.response
								back_reply = dk_response && dk_response.back && dk_response.back.response;
								this2.history = dk_response.history
								this2.in_gen = false
								if ( reply == null && this2.history == null) {
									alert("我的祖传V100服务器似乎出了点什么问题，请过段时间再看看")
								}
								else{
									this2.messageList.push({
									nick: this2.botNick,
									msg: reply,
									direction: 'cleft',
									avatar: this2.botAvatar,
									is_back_reply:false,
									msg_id:this2.msg_id,
									has_vote:false,
									show:true
								});
									if (back_reply){
										this2.messageList.push({
										nick: this2.botNick+"(分身1)",
										msg: back_reply,
										direction: 'cleft',
										avatar: this2.botAvatar,
										is_back_reply:true,
										msg_id:this2.msg_id,
										has_vote:false,
										show:true
									});}
								setTimeout(() => {
									var div = document.getElementsByClassName('el-main')[0];
									div.scrollTop = div.scrollHeight;
									this2.inputBox = '';
									this2.in_gen = false
								}, 100)
								}
							})
							.catch(function (error) {
								if (error == 'AxiosError: Request failed with status code 429' || error == 'Error: Request failed with status code 429') {
									alert("不好意思，这个服务跑在一台服务器上，就像一个人一样，处理不了太多消息，所以有一些访问控制，你可以过30秒再发一条试试看")
								}else{
									alert(error)
								}
								console.error(error);
								this2.in_gen = false
							});
					}
				},
				created: function() {
					this.getStatus();
					// this.messageList.push({
					// 	nick: this.botNick,
					// 	msg: '吃了吗您',
					// 	direction: 'cleft',
					// 	avatar: this.botAvatar,
					// 	first_message:true,
					// 	show:true
					// });
				}
			});
		</script>
		<script async defer data-website-id="d8713d1f-bc47-4355-b53f-fd8e3da2daa2" src="https://analytics.greatdk.com/umami.js"></script>
</html>
